{% extends "header.html" %}

{% block body %}

    <body>
        <div class="container">
            <br><br><br><br><br>

                <div id="container_demo" >

                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            {% if error %}
                                <div class="alert alert-warning alert-dismissable" role="alert">

                                {{ error }}
                                </div>
                            {% endif %}
                            {% if message %}
                            <div class="alert alert-warning alert-dismissable" role="alert">
                                 {{ message }}
                                 </div>
                            {% endif %}
                            {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning alert-dismissable" role="alert">
                                {{ message }}
                            </div>
                                 {% endfor %}

                            <form  action="/log" method="post" autocomplete="on">
                                <h1>Log in</h1>
                                <p>
                                    <label for="username" class="uname" data-icon="u" > Username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                                </p>
                                <p class="keeplogin">
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button">
                                    <input type="submit" value="Login" />
								</p><a href="/forgot" class="">Forgot Password</a>
                                <p class="change_link">

									Not a member yet ?
									<a href="/signup" class="to_register">Join us</a>
								</p>
                            </form>



                        </div>


                    </div>
                </div>
        </div>

    </body>

{% endblock %}