{% extends "header.html" %}

{% block body %}
<div id="container_demo" >
    <br><br><br><br><br>

                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            {% if error %}
                                <div class="alert alert-warning alert-dismissable" role="alert">

                                {{ error }}
                                </div>
                            {% endif %}

                            {% if user %}
                                <div class="alert alert-warning alert-dismissable" role="alert">

                                {{ user }}
                                </div>
                            {% endif %}
                            <form  action="/password" method="post" autocomplete="on">
                                <h1>Password Recovery</h1>
                                <p>
                                    <label for="username" class="uname" data-icon="u" > Username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
                                </p>
                                    <label for="emailsignup" class="youmail" data-icon="e" >Registered mail id</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder=".....@example.com"/>
                                <p class="login button">
                                    <input type="submit" value="Submit" />
								</p>
                                <p align="right-top"> <a href="/">Login</a></p>
                                <p class="change_link"> Note*** Password will be sent to register mail id </p>

                            </form>


                        </div>
                    </div>
</div>

{% endblock %}